grid {
    margin: 5px;
}

.connectPaneBox {
    margin: 10px
}

entry {
    margin: 2px;
}

comboboxtext {
    margin: 2px;
}

checkbox {
    margin-left: 5px;
}

scrolledwindow {
    margin-left: 10px;
}

